.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}

.bubbles:hover {
  stroke: black;
}

circle {
  fill: #fff;
  stroke: #111;
}

circle.active{
   fill: #f00;
}